* {
    margin: 0;
    padding: 0;
     box-sizing:border-box;
}
body {
    font-family: "Adobe 黑体 Std";
    background: #F9F9F9;
}
li {
    float: left;
    list-style: none;
}
a {
    text-decoration: none;
    color: #000;
}
#top-bar {
    position: fixed;
    width: 100%;
    height: 60px;
    border-bottom: 1px solid #000;
    background: #313239;
    z-index: 9;
}
#top-bar .logo {
    margin: 20px;
}
.top-nav {
    display: inline-block;
    float: right;
    margin-right: 10px;
    width: 40px;
    height: 60px;
}
.top-nav li {
    width: 40px;
    height: 60px;
    text-align: center;
    position: relative;
}
.top-nav img {
    display: inline-block;
    width: 20px;
    height: 18px;
    margin-top: 21px;
}
.top-nav li:hover {
    background: #545459;
    cursor: pointer;
}
/*消息条数样式*/
.message-count {
    display: inline-block;
    position: absolute;
    right: -2px;
    top: 10px;
    height: 20px;
    width: 20px;
    line-height: 20px;
    text-align: center;
    background-color: #fe5621;
    color: white;
    border-radius: 20px;
    font-size: 12px;
}
