* {
    margin: 0;
    padding: 0;
}
body {
    font-family: Adobe 黑体 Std;
}
li {
    float: left;
    list-style: none;
}
a {
    text-decoration: none;
    color: #000;
}
#top-bar {
    height: 60px;
    background: #313239;
    line-height: 60px;
    border-bottom: 1px solid #000;
}
#top-bar .logo {
    margin: 20px;
}
.top-nav {
    display: inline-block;
    float: right;
    margin-top: 10px;
    height: 60px;
}
.top-nav li {
    margin-right: 11px;
    width: 40px;
    height: 40px;
}
.top-nav i {
    display: inline-block;
    width: 40px;
    height: 40px;
}
.top-nav li:hover {
    background: #545459;
    cursor: pointer;
}
.top-nav .message i {
    background: url(../image/message.png) center no-repeat;
}
.top-nav .tag i {
    background: url(../image/tag.png) center no-repeat;
}
.top-nav .set i {
    background: url(../image/set.png) center no-repeat;
}
.top-nav .search i {
    background: url(../image/search.png) center no-repeat;
}