.applicant-box {
	width: 1100px;
	height: 270px;
	margin-top: 50px;
    padding: 0px 0 25px 0;
}
.applicant-header {
	padding-right: 55px;
	display: -webkit-box;
	display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.applicant-name {
    width: 100px;
    height: 32px;
    float: left;
    background: #313239;
    font-size: 14px;
    color: #fff;
    line-height: 32px;
    text-align: center;
}
.applicant-platform,.applicant-date {
	height: 32px;
	float: left;
	line-height: 32px;
}
.applicant-content {
	margin-top: 22px;
	padding: 10px;
	border: 1px solid #ccc;
}
.content-text {
	word-break: break-all;
}
/*操作按钮*/
.join-btn {
    position: absolute;
    margin: 30px 0 0 762px;
    width: 300px;
}
.btn-not-pass, .btn-pass {
    display: inline-block;
    float: left;
    margin-left: 18px;
}
.btn-not-pass a, .btn-pass a {
    display: inline-block;
    width: 130px;
    height: 33px;
    text-align: center;
    font-size: 14px;
    line-height: 33px;
}
.btn-pass a {
    background: #313131;
    color: #fff;
}
.btn-not-pass a {
    color: #000;
}
.btn-not-pass a:hover, .btn-pass a:hover {
    outline: 1px solid #FFEA00;
}