
.news-title {
	display: block;
    margin-bottom: 30px;
    padding-left: 10px;
    width: 100%;
    height: 30px;
    border: 1px solid #ccc;
    background: #F9F9F9;
}
/*文件上传部分*/
.file-upload-box {
    position: relative;
    width: 300px;
	margin: 15px 0;
}
#upload-pic {
    width: 50px;
    height: 30px;
    position: absolute;
    right: 0px;
    top: 0px;
    opacity: 0;
	z-index: 1;
	cursor: pointer;
    font-size: 0px;
}
#viewfile {
	width: 250px;
	height: 30px;
	border: 1px solid #ccc;
	background: #f9f9f9;
    cursor: not-allowed;
}
/*选择文件按钮*/
.file-button {
	width: 50px;
	height: 30px;
	border: 1px solid #ccc;
	border-left: none;
	background: #f9f9f9;
    vertical-align: top;
}
/*提交按钮*/
.news-btn {
    position: absolute;
    margin: 30px 0 0 655px;
    width: 300px;
}
.btn-submit, .btn-save {
    display: inline-block;
    float: left;
    margin-left: 18px;
}
.btn-submit a, .btn-save a {
    display: inline-block;
    width: 130px;
    height: 33px;
    text-align: center;
    font-size: 14px;
    line-height: 33px;
}
.btn-submit a {
    background: #313131;
    color: #fff;
}
.btn-save a {
    background: #fff;
    color: #000;
}
.btn-submit a:hover, .btn-save a:hover {
    outline: 1px solid #FFEA00;
    cursor: pointer;
}