/*标签页主体样式         */
#content {
    background: #313239;
}
#page-content {
    min-width: 1000px;
    padding-left: 210px;
    background: #F9F9F9;
}
#page-content .header{
    padding-top: 50px;
    padding-left: 39px;
    border-bottom: 1px solid #ccc;
    line-height: 72px;
}
#page-content .header p{
    font-size: 24px;
}
#page-content .nav {
    margin: 46px 0 50px 39px;
    height: 46px;
    line-height: 46px;
    border-top: 1px solid #E4E4E4;
    background: url(../image/bg.png) 0 0 repeat-x;
}
#page-content .nav a {
    display: block;
    width: 100px;
    height: 46px;
    text-align: center;
    font-size: 18px;
}
#page-content .nav .nav-active {
    background: url(../image/bg-active.png) 0 0 repeat-x;
}
.main {
    position: relative;

    padding-left: 39px;
    padding-right: 75px;
    padding-bottom: 139px;
}
#inner-content{
    width: 100%;
    padding-right: 50px;
}
.pagination-box {
    border: 1px solid red;
    width: 400px;
    height: 80px;
    margin: 0 auto;
    text-align: center;
}

