/*标签页主体样式         */
#content {
    background: #313239;
}
#page-content {
    margin-left: 210px;
    background: #F9F9F9;
    min-height: 680px;
    min-width: 1140px;
}
#page-content .header{
    padding-left: 39px;
    height: 72px;
    min-width: 600px;
    border-bottom: 1px solid #ccc;
    line-height: 72px;
}
#page-content .header p{
    font-size: 24px;
}
#page-content .nav {
    margin: 46px 0 50px 39px;
    width: 1100px;
    height: 46px;
    line-height: 46px;
    border-top: 1px solid #E4E4E4;
    background: url(../image/bg.png) 0 0 repeat-x;
}
#page-content .nav a {
    display: block;
    width: 100px;
    height: 46px;
    text-align: center;
    font-size: 18px;
}
#page-content .nav .nav-active {
    background: url(../image/bg-active.png) 0 0 repeat-x;
}
.main {
    padding-left: 39px;
    padding-bottom: 139px;
}
@media screen and (min-height: 768px) {
    .main {
        min-height: 376px;
    }
}
@media screen and (min-height: 900px) {
    .main {
        min-height: 556px;
    }
}