/*表单样式*/
.input-box {
    display:flex;
    flex-wrap: wrap;           
    justify-content:space-between;
    position: relative;
    padding-top: 41px;
    margin-top: 41px;
    border-top: 1px solid #ccc;
}
.input-box .box-title {
    display: block;
    position: absolute;
    top: -16px;
    padding-left: 12px;
    width: 186px;
    height: 32px;
    background: #313239;
    font-size: 14px;
    color: #fff;
    line-height: 32px;
} 
.input-box .box-title i {
    display: inline-block;
    margin-left: 100px;
    vertical-align: middle;
    width: 16px;
    height: 16px;
    background: url(../image/Icon_Trash.png) 0 0 no-repeat;
    cursor: pointer;
}
.input-box input[type=text] {
    margin-bottom: 17px;
    padding-left: 10px;
    width: 464px;
    height: 30px;
    border: 1px solid #ccc;
    background: #F9F9F9;

}
.input-box textarea {
    margin-bottom: 17px;
    padding: 10px;
    width: 100%;
    height: 180px;
    background: #F9F9F9;
    border: 1px solid #ccc;
    resize: none;
}

/*提交按钮*/
.btn-submit {
    float: right;
    margin-top: 40px;
}
.btn-submit a{5
    display: block;
    width: 130px;
    height: 33px;
    background: #313131;
    color: #fff;
    text-align: center;
    font-size: 14px;
    line-height: 33px;

}
.btn-submit a:hover {
    outline: 1px solid #FFEA00;
    cursor: pointer;
}
/*文件上传*/
.file-upload-box {
    position: relative;
}
#app-icon {
    width: 50px;
    height: 30px;
    position: absolute;
    right: 0px;
    top: 0px;
    opacity: 0;
    z-index: 1;
    cursor: pointer;
    font-size: 0px;
}
#viewfile {
    width: 345px;
    height: 30px;
    border: 1px solid #ccc;
    background: #f9f9f9;
    cursor: not-allowed;
}
/*选择文件按钮*/
.file-button {
    vertical-align: top;
    width: 50px;
    height: 30px;
    border: 1px solid #ccc;
    border-left: none;
    background: #f9f9f9;
}