/*表单样式*/
.input-box {
    position: relative;
    padding: 41px 0 25px 0;
    width: 1100px;
    border-top: 1px solid #ccc;
}
.input-box .box-title {
    display: block;
    position: absolute;
    top: -16px;
    padding-left: 12px;
    width: 186px;
    height: 32px;
    background: #313239;
    font-size: 14px;
    color: #fff;
    line-height: 32px;
} 
.input-box .box-title i {
    display: inline-block;
    margin-left: 100px;
    vertical-align: middle;
    width: 16px;
    height: 16px;
    background: url(../image/Icon_Trash.png) 0 0 no-repeat;
}
.input-box input[type=text] {
    margin-right: 40px;
    margin-bottom: 17px;
    padding-left: 10px;
    width: 464px;
    height: 30px;
    border: 1px solid #ccc;
    background: #F9F9F9;

}
.input-box textarea {
    margin-bottom: 17px;
    padding: 10px;
    width: 974px;
    height: 180px;
    background: #F9F9F9;
    border: 1px solid #ccc;
    resize: none;
}
/*提交按钮*/
.btn-submit {
    position: relative;
    width: 974px;
}
.btn-submit span{
    display: block;
    position: absolute;
    right: 0;
    width: 130px;
    height: 33px;
    background: #313131;
    color: #fff;
    text-align: center;
    font-size: 14px;
    line-height: 33px;

}
.btn-submit span:hover {
    outline: 1px solid #FFEA00;
    cursor: pointer;
}
/*文件上传*/
.bootstrap-filestyle {
    display: inline-block;
    margin-right:  40px;
    margin-bottom: 17px;
    width: 300px;
    border: 1px solid #ccc;
    line-height: 30px;
}
.form-control {
    margin: 0 !important;
    width: 250px !important;
    border: none !important;
    border-right: 1px solid #ccc !important;
    height: 34px !important;
}

.buttonText {
    display: inline-block;
    padding: 2px 5px;
    margin-left: -4px;
    height: 30px;
    border-left: none;
    font-size: 14px;
    outline: none;
}
