/*头像预览大小*/
.information-setting .head-view {
	width: 80px;
	height: 80px;
	margin-top: 20px;
}
form {
	margin-top: 13px;
}
/*头像设置*/
.head-setting .choose-pic {
	vertical-align: middle;
    position: relative;
    left: -218px;
    filter: alpha(opacity=0);
    opacity: 0;
	z-index: 1;
	*width: 223px;
	cursor: pointer;
}
/*地址预览框*/
.head-setting .viewfile {
	width: 250px;
	height: 30px;
	border: 1px solid #ccc;
	background: #f9f9f9;
}
/*选择文件按钮*/
.head-setting .file-button {
	width: 50px;
	height: 32px;
	border: 1px solid #ccc;
	border-left: 0;
	background: #f9f9f9;
}
/*基本信息设置*/
.input-box {
    position: relative;
    padding: 41px 0 25px 0;
    width: 1100px;
}
.input-box input[type=text] {
    margin-right: 40px;
    margin-bottom: 17px;
    padding-left: 10px;
    width: 464px;
    height: 30px;
    border: 1px solid #ccc;
    background: #F9F9F9;
}
.input-box textarea {
    margin-bottom: 17px;
    padding: 10px;
    width: 974px;
    height: 180px;
    background: #F9F9F9;
    border: 1px solid #ccc;
    resize: none;
}
/*提交按钮*/
.btn-submit {
    position: relative;
    width: 999px;
}
.btn-submit span{
    display: block;
    position: absolute;
    right: 0;
    width: 130px;
    height: 33px;
    background: #313131;
    color: #fff;
    text-align: center;
    font-size: 14px;
    line-height: 33px;
}
.btn-submit span:hover {
    outline: 1px solid #FFEA00;
    cursor: pointer;
}
/*密码修改*/
.password-setting {
	margin-top: 60px;
}