#sidebar {
    float: left;
    width: 210px;
    min-height: 912px;
    background: #313239;
}
.user-image {
    padding-top: 23px;
    padding-left: 34px;
}
.user-image i {
    display: block;
    width: 130px;
    height: 130px;
    background: url(../image/user.png) center no-repeat;
}
.user-image p {
    margin: 8px 0;
    width: 130px;
    font-size: 18px;
    text-align: center;
    color: #fff;
}
.sidebar-nav li {
    border-left: 6px solid transparent;
}
.sidebar-nav a {
    display: block;
    width: 204px;
    height: 48px;
    line-height: 48px;
    color: #fff;
}
.sidebar-nav p {
    font-size: 16px;
}
.sidebar-nav .active {
    border-left: 6px solid #66BAF6;
    background: #26272C;

}
.sidebar-nav i {
    display: inline-block;
    margin: 0 14px;
    width: 18px;
    height: 18px;
    vertical-align: sub;
}
.sidebar-nav .user-setting i {
    background: url(../image/Icon_User.png) center no-repeat;
}
.sidebar-nav .project-manage i {
    background: url(../image/Icon_Folder.png) center no-repeat;
}
.sidebar-nav .blog-manage i {
    background: url(../image/Icon_List.png) center no-repeat;
}
.sidebar-nav .news-manage i {
    background: url(../image/Icon_News.png) center no-repeat;
}
.sidebar-nav .join-us i {
    background: url(../image/Icon_Dialogue.png) center no-repeat;
}