/*提交按钮*/
.btn-submit {
    float: right;
    margin-top: 40px;
}
.btn-submit a{
    display: block;
    width: 130px;
    height: 33px;
    background: #313131;
    color: #fff;
    text-align: center;
    font-size: 14px;
    line-height: 33px;
}
.btn-submit a:hover {
    outline: 1px solid #FFEA00;
    cursor: pointer;
}
/*选择文件按钮*/
.head-setting {
    width: 464px;
    position: relative;
}
.file-button {
    vertical-align: top;
    width: 50px;
    height: 30px;
    border: 1px solid #ccc;
    border-left: none;
    background: #f9f9f9;
    font-size: 13px;
}
/*添加标签按钮*/
.add-tag {
    display: inline-block;
    width: 100px;
    height: 33px;
    text-align: center;
    font-size: 14px;
    line-height: 33px;
    background: #313131;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}
/*博客存为草稿，提交按钮*/
.editor-btn {
    position: absolute;
    margin: 30px 0 0 800px;
    width: 300px;
}
.btn-publish, .btn-save {
    display: inline-block;
    float: left;
    margin-left: 18px;
}
.btn-publish a, .btn-save a {
    display: inline-block;
    width: 130px;
    height: 33px;
    text-align: center;
    font-size: 14px;
    line-height: 33px;
}
.btn-publish a {
    background: #313131;
    color: #fff;
}
.btn-save a {
    background: #fff;
    color: #000;
}
.btn-publish a:hover, .btn-save a:hover {
    outline: 1px solid #FFEA00;
    cursor: pointer;
}
.btn-change {
    float: left;
    margin-top: 30px;
    margin-bottom: 10px;
    width: 100px;
    height: 33px;
    text-align: center;
    font-size: 14px;
    line-height: 33px;
    background: #313131;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}
/*加入我们*/
/*操作按钮*/
.join-btn {
    float: right;
    margin: 30px 0 0 0;
}
.btn-not-pass, .btn-pass {
    display: inline-block;
    float: left;
    margin-left: 18px;
}
.btn-not-pass a, .btn-pass a {
    display: inline-block;
    width: 130px;
    height: 33px;
    text-align: center;
    font-size: 14px;
    line-height: 33px;
}
.btn-pass a {
    background: #313131;
    color: #fff;
}
.btn-not-pass a {
    color: #000;
}
.btn-not-pass a:hover, .btn-pass a:hover {
    outline: 1px solid #FFEA00;
}
.member-submit {
    position: absolute;
    margin-left: -20px;
    height: 50px;
    width: 300px;
    background: #408ac9;
    border-radius: 50% / 100% 100% 0 0;
    bottom: 0;
    text-align: center;
    font-size: 25px;
    color: #fff;
    cursor: pointer;
    opacity: 0.9;

}
.add-member {
    cursor: pointer;
}
.buttonText {
    cursor: pointer;
}