#content table {
    width: 100%;
    padding-bottom: 40px;
    border-top: 1px solid #ccc;
    font-size: 18px;
} 
#content table th:first-child, td:first-child {
    border-left: 1px solid #ccc;
}
#content table th, td {
    max-width: 140px;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 5px 14px 5px 14px;
    font-weight: normal;
    text-align:left;
    overflow: hidden;
    word-break:break-all;
}
#content table .operate a, .state a{
    color: #06A2E9;
}
#content table .state a{
    display: block;
    color: #06A2E9;
}
.add-member-table {
    margin: 0 auto;
}
.add-member-table tr {
    font-size: 16px;
    line-height: 20px;
    border: none;
}
.add-member-table td {
    padding: 10px 15px;
    border: none;
}